:root {
	--dark-blue: #233255;
	--footer-background-color: #F8F8F8;
	--footer-text-color: #9C9C9C;
}

body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.footer {
	background-color: var(--footer-background-color);
	text-shadow: none;
}

.footer-text {
	color: var(--footer-text-color)
}

.nav-sidebar > li > ul > li > ul {
	margin: 0em 0 0 0 ;
}

.navbar {
	display: inline;
	background: var(--dark-blue);
	height: 80px;
}

.navbar-header {
	margin-top: 10px;
	margin-left: -10px;
}

.navbar-right {
	margin-top: 15px;
}
