<p>[: locale "templates.fragments.reference.authorisation@request_requires_use_authorisation" :]

[: range $name, $security := . :]
    [: if $security.Scheme.IsApiKey :]<code>API key</code>[: end :]
    [: if $security.Scheme.IsBasic :]<code>BASIC</code>[: end :]
    [: if $security.Scheme.IsOAuth2 :]<code>OAuth2</code>[: end :][: end :].</p>

[: range $name, $security := . :]
    [: if $security.Scheme.IsOAuth2 :]
        [: if $security.Scopes :]
          <p>[: locale "templates.fragments.reference.authorisation@oauth_authorisation_required" :]</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                <th>[: locale "templates.fragments.reference.authorisation@scope" :]</th>
                <th>[: locale "templates.fragments.reference.authorisation@description" :]</th>
                </tr>
              </thead>
              <tbody>
                [: range $scope, $desc := $security.Scopes :]
                  <tr>
                    <td class="resource">[: $scope :]</td>
                    <td class="">[: $desc :]</td>
                  </tr>
                [: end :]
              </tbody>
            </table>
         </div>
       [: end :]
    [: end :]
[: end :]
