<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>[: locale "templates.fragments.reference.params@parameter_name" :]</th>
      <th>[: locale "templates.fragments.reference.params@value" :]</th>
      <th>[: locale "templates.fragments.reference.params@description" :]</th>
      <th>[: locale "templates.fragments.reference.params@additional" :]</th>
    </tr>
  </thead>
  <tbody>
  [: range . :]
    <tr>
      <td class="resource">[: .Name :]</td>
      <td class="type">[: join .Type " of " :][: if .CollectionFormatDescription :], [: .CollectionFormatDescription :][: end :]</td>
      <td class="hyphenate Hyphenator384hide">[: safehtml .Description :]
      [: if .Enum :]
      <p>[: locale "templates.fragments.reference.params@possible_values_are" :]</p>
      <ul class="list-bullet">
        [: range .Enum :]
        <li><code>[: . :]</code></li>
        [: end :]
      </ul>
      [: end :]
      </td>
      <td class="hyphenate Hyphenator384hide">[: if .Required :][: locale "templates.fragments.reference.params@required" :][: end :]</td>
    </tr>
  [: end :]
  </tbody>
</table>
</div>
