[: range $name, $property := .Properties :]
  <tr>
    <td class="resource">
      [: if $property.FQNS :]<span class="object">[: join $property.FQNS "." :]</span>.[: end :][: $property.ID :]
    </td>
    <!-- <td class="type">[: index $property.Type 0 :]</td> -->
    <td class="type">[: join $property.Type " of " :]</td>
    <td>
      [: safehtml $property.Description :]
      [: if $property.Enum :]
      <p>[: locale "templates.fragments.reference.properties@possible_values_are" :]</p>
      <ul class="list-bullet">
        [: range $property.Enum :]
        <li><code>[: . :]</code></li>
        [: end :]
      </ul>
      [: end :]
    </td>
    <td>[: if not $property.Required :][: locale "templates.fragments.reference.properties@optional" :][: if $property.ReadOnly :][: locale "templates.fragments.reference.properties@read_only" :][: end :]
        [: else :][: if $property.ReadOnly :][: locale "templates.fragments.reference.properties@read_only" :][: end :][: end :]</td>
  </tr>
  [: template "fragments/reference/properties" $property :]
[: end :]
