[: if .Method.BodyParam.IsArray :]
    <p>[: locale "templates.fragments.reference.request_body@request_body_takes_array" :]&nbsp;
    <a href="[: $.SpecPath :]/resources/[: .Method.BodyParam.Resource.ID :][: if $.Version :]?v=[: $.Version :][: end :]">[: .Method.BodyParam.Resource.Title :]</a>. [: locale "templates.fragments.reference.request_body@containing_properties" :]</p>
[: else :]
    <p>[: locale "templates.fragments.reference.request_body@request_body_takes" :]&nbsp;
    <a href="[: $.SpecPath :]/resources/[: .Method.BodyParam.Resource.ID :][: if $.Version :]?v=[: $.Version :][: end :]">[: .Method.BodyParam.Resource.Title :]</a>. [: locale "templates.fragments.reference.request_body@containing_properties" :]</p>
[: end :]

<pre><code>[: .Method.BodyParam.Resource.Schema :]</code></pre>

<h3 class="sub-sub-header">Properties</h3>
[: template "fragments/reference/resource_table" .Method.BodyParam :]
