[: overlay "properties" . :]
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>[: locale "templates.fragments.reference.resource_table@name" :]</th>
        <th>[: locale "templates.fragments.reference.resource_table@type" :]</th>
        <th>[: locale "templates.fragments.reference.resource_table@description" :]</th>
        <th>[: locale "templates.fragments.reference.resource_table@additional" :]</th>
      </tr>
    </thead>
    <tbody>
      [: template "fragments/reference/properties" .Resource :]
    </tbody>
  </table>
</div>
