<h2 class="sub-header">[: locale "templates.fragments.reference.resource_body@resource" :]</h2>
[: overlay "resource" . :]
<pre><code>[: .Resource.Schema :]</code></pre>

<h2 class="sub-header">[: locale "templates.fragments.reference.resource_body@properties" :]</h2>
[: overlay "properties" . :]
[: template "fragments/reference/resource_table" . :]
